{
	admin fd/6
	email arlyon@me.com
}

http://cockpit.litehouse.arlyon.dev {
	bind fd/3 {
		protocols h1
	}
	log
	reverse_proxy cockpit:3000
}

https://cockpit.litehouse.arlyon.dev {
	bind fd/4 {
		protocols h1 h2
	}
	bind fdgram/5 {
		protocols h3
	}
	log
	reverse_proxy cockpit:3000
}
